<div class="mt-24">
    <h2 class="text-center text-slate-500">Works with your technologies</h2>

    <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
        <iconify-icon icon="simple-icons:react"  width="64" height="64"></iconify-icon>
        <iconify-icon icon="simple-icons:svelte"  width="64" height="64"></iconify-icon>
        <iconify-icon icon="simple-icons:astro"  width="64" height="64"></iconify-icon>
        <iconify-icon icon="simple-icons:tailwindcss"  width="64" height="64"></iconify-icon>
        <iconify-icon icon="simple-icons:alpinedotjs"  width="64" height="64"></iconify-icon>
        <iconify-icon icon="simple-icons:vercel" width="64" height="64"></iconify-icon>
    </div>
</div>