<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/Dynamic-Software-Base/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="EmperorXSama" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </github>
    </packageSourceCredentials>
    
    <packageSourceMapping>
        <!-- Your private packages → only from github -->
        <packageSource key="github">
            <package pattern="Contract.InClass" />
        </packageSource>
        <!-- Everything else → from nuget.org -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>