<div class="mx-auto  px-4 sm:px-6 lg:px-8 ">
    <div class="flex items-center justify-between gap-y-4">
        <div></div>
        <div></div>
        <div class="flex items-center justify-between rounded-2xl  p-2 gap-x-2">
            <div class="flex h-11 w-11 items-center justify-center rounded-xl bg-white shadow-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#6b6b6b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bell-icon lucide-bell"><path d="M10.268 21a2 2 0 0 0 3.464 0"/><path d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326"/></svg>
            </div>

            <div class="flex h-11 w-11 items-center justify-center rounded-xl bg-white shadow-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#6b6b6b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings-icon lucide-settings"><path d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915"/><circle cx="12" cy="12" r="3"/></svg>
            </div>

            <div class="flex items-center gap-3 rounded-xl bg-white px-3 py-2 shadow-sm">
                <div class="h-9 w-9 rounded-full bg-neutral-300"></div>

                <div class="flex flex-col">
                    <div class="h-3 w-24 rounded bg-neutral-300"></div>
                    <div class="mt-1.5 h-2.5 w-20 rounded bg-neutral-200"></div>
                </div>

                <div class="mx-1 h-8 w-px bg-neutral-200"></div>

                <div class="flex items-center gap-2">
                    <div class="h-4 w-4 rounded bg-neutral-300"></div>
                    <div class="h-3 w-16 rounded bg-neutral-300"></div>
                </div>
            </div>
        </div>
    </div>
</div>