@using inclass.Client.Components
@using inclass.Client.Components.Reuse
@inherits LayoutComponentBase

<div class="min-h-screen flex flex-col">
    <NavMenu />

    <main class="flex-1">
        <ToastContainer />
        @Body
    </main>

    <FooterComponent />
</div>